body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/*---------------------------------Header------------------------------*/

.title-box {
    text-align: center;
    color: #333;
}

h2 {
    text-align: center;
    font-size: 18px;
}

/*----------------------------------Form-------------------------------*/

form {
    width: 30%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#expiry-month, #expiry-year {
    width: 45%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
}

#expiry-month {
    margin-right: 10px;
}

textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*---------------------------------Button------------------------------*/

#submit-button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submit-button:hover {
    background-color: #45a049;
}

/*---------------------------------Mobile------------------------------*/

@media only screen and (max-width: 600px){
    form {
        width: 70%;
    }
  }
